[Unit]
Description=Configure system for current user
Requires=app-bluefin\x2dfirstboot@autostart.service

[Service]
Type=simple
ExecStart=/usr/bin/ublue-user-setup

[Install]
WantedBy=default.target
