[Unit]
Description=Configure system for current user
Requires=app-at\x2dspi\x2ddbus\x2dbus@autostart.service
Requires=app-bluefin\x2dfirstboot@autostart.service
Requires=app-com.github.zocker_160.SyncThingy@autostart.service
Requires=app-geoclue\x2ddemo\x2dagent@autostart.service
Requires=app-gnome\x2dkeyring\x2dpkcs11@autostart.service
Requires=app-gnome\x2dkeyring\x2dsecrets@autostart.service
Requires=app-gnome\x2dkeyring\x2dssh@autostart.service
Requires=app-input\x2dremapper\x2dautoload@autostart.service
Requires=app-io.crow_translate.CrowTranslate@autostart.service
Requires=app-kaccess@autostart.service
Requires=app-klipper@autostart.service
Requires=app-orca\x2dautostart@autostart.service
Requires=app-org.kde.discover.notifier@autostart.service
Requires=app-org.kde.kdeconnect.daemon@autostart.service
Requires=app-org.kde.plasma\x2dwelcome@autostart.service
Requires=app-org.kde.xwaylandvideobridge@autostart.service
Requires=app-spice\x2dvdagent@autostart.service
Requires=app-vboxclient@autostart.service
Requires=app-vmware\x2duser@autostart.service
Requires=app-xdg\x2duser\x2ddirs@autostart.service
Requires=app-xdg\x2duser\x2ddirs\x2dkde@autostart.service

[Service]
Type=simple
ExecStart=/usr/bin/ublue-user-setup

[Install]
WantedBy=default.target
